@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf");

    font-family: "Open Sans Extra Bold";
    src: url("../fonts/OpenSans-ExtraBold.ttf");

    font-family: "Open Sans Semi Bold";
    src: url("../fonts/OpenSans-SemiBold.ttf");


}
*{
    margin: 0;
    left: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
    width: 100vw;
}

main.content{
    width: 100vw;
    margin: 0 auto;    
}



.main{
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100vw;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    box-shadow: 1px 1px 5px #9f9f9f;
}

.menu ul li{
    color: #777777;
    font-family: "Open Sans";
    display: inline;
    width: 91px;
    margin-right: 5vw;
    font-weight: 600;
}

.menu ul a{
    text-decoration: none;
}

.banner{
    width: 100%;
    height: 235px;
    justify-content: center;
    margin: 0 auto;
}



section.banner img{
    max-width: 100%;
    width: 100vw;
    height: 236px;
}

.tit_centro_inicio h2{
    text-align: center;
    font-size: 60px;
    margin: 82px;
}

.lado_a_lado_1{
    
    max-width: 100%;
    display: flex;
    justify-content: space-around;
}



.img_left{
    max-width: 100%;
    margin-right: 54px;
    margin-top: 90px;
}
.img_right{
    max-width: 100%; 
    margin-bottom: 207px;
}

.quatro_saltos{
    max-width: 100%;
    width: 100vw;
    height: 662px;
    background-color: #C2185B;
}
article{
    max-width: 100vw;
    /* width: 100vw; */
    /* margin: 0 auto; */
    margin-right: 18px;
    
}
.tit_desconto{
    font-family: "Open Sans Extra Bold", sans-serif;
    font-weight: 800;
    color: white;
    font-size: 44px;
    text-align: center;
    padding-top: 61px;
    margin-bottom: 54px;
}
.articles{
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
    /* margin-left: 8vw; */
    /* margin-right: 84px; */
    margin-bottom: 0;
    
}
.articles img{
    background-color: white;
}
figure.saltos{
    width: 260px;
    background-color: white;
}

figcaption{
    display: flex;
    font-family: "Open Sans";
    font-weight: 600;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
    padding-left: 10px;
}

.preco{
    text-align: left;    
    font-weight: 400;
}

figcaption{
    height: 88px;
    background-color: white;
    margin: 0;
}

.lado_a_lado_2{
    display: flex;
    align-items: center;
    /* width: 81vw; */
    margin-top: 163px;
    /* height: 1218px; */
}

.lado_a_lado_2 .img_left{
    max-width: 100%;
    align-self: flex-end;
    margin-top: 20px;
    margin-bottom: 220px;
    margin-left: 127px;
    margin-right: 0px;

}


.lado_a_lado_2 .img_right{
    max-width: 100%;
    padding-right: 105px;
}



.tit_com_botao h2{
    line-height: 53px;
    padding-top: 33px;
    width: 585px;
    height: 144px;
    font-size: 39px;
    font-family: "Open Sans Semi Bold" ,sans-serif;
    
    
}


.tit_com_botao button{
    width: 403px;
    height: 99px;
    margin-bottom: 30px;
    background-color: #C2185B;
    border: none;
    font-size: 39px;
    
}
.tit_com_botao button a{
    text-decoration: none;
    color: white;
}


/* FOOTER */

footer{
    background-color: #C2185B;
    width: 100vw;
    height: 248px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
}

figure.logo_footer{
    align-self: center;
    margin-left: 128px;
}

figcaption.caption_logo{
    color: #fff;
    width: 255px;
    background-color: #C2185B;
    font-weight: 400;

}

.menu_footer{
    margin-right: 148px;
    color: white;
    size: 20px;
    font-weight: 400;
}

.menu_footer nav ul{
    list-style: none;
}

.menu_footer nav ul li{
    margin-left: -39px;
    
}

div.menus{
    display: flex;
}

.menu_footer nav ul a{
    color: white;
    text-decoration: none;
}

.form_contato{
    width: 538px;
    display: block;
    margin-left: 123px;
    margin-right: 75px;
}

.tit_contato{
    color: #575757;
    margin-left: 123px;
    margin-bottom: 36px;
    margin-top: 55px;
    size: 39px;
}

.form_contato input[type='text'], input[type='email'] , textarea, select{
    width: 538px;
    border: solid 1px #9B9B9B;
    margin-bottom: 15px;
    
}


input[type="checkbox"] .tipo_dispon{
    background-color: red;
}

.hidden{
    display: none;
}

label.lbl_file{
    background-color: #c4c4c4;
    padding: 0 25px;
    color: white; 
    cursor: pointer;  
}
.curriculo{
    color: #9b9b9b;
}


/* checkbox personalizada*/

.custom_checkbox input,
.custom-radio input{
    display: none;
}

.custom_checkbox input+label::before{
    content: "";
    width: 18px;
    height: 18px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 4px;
    background-color: #c4c4c4;
    display: inline-block;
    vertical-align: middle;
    
}

.custom_checkbox input:checked + label::before{
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
    background-color: #194cd8;
    border: none;
}

.custom-radio input + label:before {
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #c4c4c4;
    border: 1px solid gray;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 3px;
    
  }
  
  .custom-radio input:checked + label:before {
    background-color: white;
    box-sizing: border-box;
    border: 5px solid#194cd8;
    padding: 4px;
    
  }

  .checkboxes{
      display: flex;
      align-content: space-between;
  }

  .radios{
    display: flex;
  }

  label{
      color: #9b9b9b;
  }

  button[type="submit"]{
      background-color: #C2185B;
      border: none;
      font-size: 20px;
      color: white;
      width: 100%;
      height: 33px;
      margin-bottom: 57px;
      margin-top: 24px;
  }

  .content_trabalhe_conosco{
    display: flex;
    }
  .conteudo_trabalhe_conosco{
    width: 35vw;
    height: 448px;
    color: #575757;
  }
  
